{% extends 'default/games.html.twig' %}

{% block game %}
    <div class="double" style="display: block;">
        <div class="double-history">
            <span>История игр:</span>
            <div class="history">
                <p class="black">12</p>
                <p class="green">0</p>
                <p class="red">1</p>
                <p class="black">12</p>
                <p class="green">0</p>
                <p class="red">1</p>
                <p class="black">12</p>
                <p class="green">0</p>
                <p class="red">1</p>
                <p class="black">12</p>
                <p class="green">0</p>
                <p class="red">1</p>
                <p class="black">12</p>
                <p class="green">0</p>
                <p class="red">1</p>
                <p class="black">12</p>
                <p class="green">0</p>
                <p class="red">1</p>
                <p class="black">12</p>
                <p class="green">0</p>
                <p class="red">1</p>
                <p class="black">12</p>
                <p class="green">0</p>
                <p class="red">1</p>
                <p class="black">12</p>
                <p class="green">0</p>
                <p class="red">1</p>
                <p class="black">12</p>
                <p class="green">0</p>
                <p class="red">1</p>
                <p class="black">12</p>
                <p class="green">0</p>
                <p class="red">1</p>
                <p class="black">12</p>
                <p class="green">0</p>
                <p class="red">1</p>
            </div>
        </div>
        <div class="double-wheel">
            <div class="ukz"></div>
            <div class="wheel-block mx-auto">
                <b class="wheel-number red mx-auto">1</b>
                <div class="wheel mx-auto"></div>
            </div>
        </div>
        {#<div class="the_wheel double-wheel" align="center" valign="center">#}
            {#<div id="rez-numbr" class="tim red-t green-t black-t center" style="">3</div>#}
            {#<canvas id="canvas" width="409px" height="409px" align="center" valign="center">#}

            {#</canvas>#}
        {#</div>#}
        <div class="double-bet-form">
            <input type="text" class="form-control mx-auto" placeholder="Введите сумму">
            <div class="bet-buttons float-lg-right text-lg-right">
                <a href="#" class="btn btn-sm">+10</a>
                <a href="#" class="btn btn-sm">+100</a>
                <a href="#" class="btn btn-sm">+10</a>
                <a href="#" class="btn btn-sm">+100</a>

                <a href="#" class="btn btn-sm">+10</a>
                <a href="#" class="btn btn-sm">+100</a>
                <a href="#" class="btn btn-sm">+10</a>
                <a href="#" class="btn btn-sm">+100</a>
            </div>
        </div>
        <div class="double-bets">
            <div class="row">
                <div class="col-lg-4">
                    <div class="bet-block mx-auto">
                        <div class="bet-head red">
                            Ставка <b>1-7</b>
                            <span>x2</span>
                        </div>

                        <p>Поставлено: <b>0</b></p>

                        <div class="bet-players">
                            <div class="player">
                                <div class="player-avatar">
                                    <img src="images/test-avatar.png">
                                </div>
                                <div class="player-info">
                                    <div class="name">Name</div>
                                    <div class="bet-sum">100 <i class="fa fa-rub"></i></div>
                                </div>
                            </div>
                            <div class="player">
                                <div class="player-avatar">
                                    <img src="images/test-avatar.png">
                                </div>
                                <div class="player-info">
                                    <div class="name">Name</div>
                                    <div class="bet-sum">100 <i class="fa fa-rub"></i></div>
                                </div>
                            </div>
                            <div class="player">
                                <div class="player-avatar">
                                    <img src="images/test-avatar.png">
                                </div>
                                <div class="player-info">
                                    <div class="name">Name</div>
                                    <div class="bet-sum">100 <i class="fa fa-rub"></i></div>
                                </div>
                            </div>
                            <div class="player">
                                <div class="player-avatar">
                                    <img src="images/test-avatar.png">
                                </div>
                                <div class="player-info">
                                    <div class="name">Name</div>
                                    <div class="bet-sum">100 <i class="fa fa-rub"></i></div>
                                </div>
                            </div>
                            <div class="player">
                                <div class="player-avatar">
                                    <img src="images/test-avatar.png">
                                </div>
                                <div class="player-info">
                                    <div class="name">Name</div>
                                    <div class="bet-sum">100 <i class="fa fa-rub"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bet-block mx-auto">
                        <div class="bet-head green">
                            Ставка <b>0</b>
                            <span>x14</span>
                        </div>

                        <p>Поставлено: <b>0</b></p>

                        <div class="bet-players">
                            <div class="player">
                                <div class="player-avatar">
                                    <img src="images/test-avatar.png">
                                </div>
                                <div class="player-info">
                                    <div class="name">Name</div>
                                    <div class="bet-sum">100 <i class="fa fa-rub"></i></div>
                                </div>
                            </div>
                            <div class="player">
                                <div class="player-avatar">
                                    <img src="images/test-avatar.png">
                                </div>
                                <div class="player-info">
                                    <div class="name">Name</div>
                                    <div class="bet-sum">100 <i class="fa fa-rub"></i></div>
                                </div>
                            </div>
                            <div class="player">
                                <div class="player-avatar">
                                    <img src="images/test-avatar.png">
                                </div>
                                <div class="player-info">
                                    <div class="name">Name</div>
                                    <div class="bet-sum">100 <i class="fa fa-rub"></i></div>
                                </div>
                            </div>
                            <div class="player">
                                <div class="player-avatar">
                                    <img src="images/test-avatar.png">
                                </div>
                                <div class="player-info">
                                    <div class="name">Name</div>
                                    <div class="bet-sum">100 <i class="fa fa-rub"></i></div>
                                </div>
                            </div>
                            <div class="player">
                                <div class="player-avatar">
                                    <img src="images/test-avatar.png">
                                </div>
                                <div class="player-info">
                                    <div class="name">Name</div>
                                    <div class="bet-sum">100 <i class="fa fa-rub"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="bet-block mx-auto">
                        <div class="bet-head black">
                            Ставка <b>8-14</b>
                            <span>x2</span>
                        </div>

                        <p>Поставлено: <b>0</b></p>

                        <div class="bet-players">
                            <div class="player">
                                <div class="player-avatar">
                                    <img src="images/test-avatar.png">
                                </div>
                                <div class="player-info">
                                    <div class="name">Name</div>
                                    <div class="bet-sum">100 <i class="fa fa-rub"></i></div>
                                </div>
                            </div>
                            <div class="player">
                                <div class="player-avatar">
                                    <img src="images/test-avatar.png">
                                </div>
                                <div class="player-info">
                                    <div class="name">Name</div>
                                    <div class="bet-sum">100 <i class="fa fa-rub"></i></div>
                                </div>
                            </div>
                            <div class="player">
                                <div class="player-avatar">
                                    <img src="images/test-avatar.png">
                                </div>
                                <div class="player-info">
                                    <div class="name">Name</div>
                                    <div class="bet-sum">100 <i class="fa fa-rub"></i></div>
                                </div>
                            </div>
                            <div class="player">
                                <div class="player-avatar">
                                    <img src="images/test-avatar.png">
                                </div>
                                <div class="player-info">
                                    <div class="name">Name</div>
                                    <div class="bet-sum">100 <i class="fa fa-rub"></i></div>
                                </div>
                            </div>
                            <div class="player">
                                <div class="player-avatar">
                                    <img src="images/test-avatar.png">
                                </div>
                                <div class="player-info">
                                    <div class="name">Name</div>
                                    <div class="bet-sum">100 <i class="fa fa-rub"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/double.js') }}"></script>
{% endblock %}