{% extends 'default/games.html.twig' %}

{% block game %}
    <div class="nvuti">
        <div class="row">
            <div class="col-lg-3">
                <div class="game-size-block mx-auto">
                    <span>Размер игры</span>
                    <input type="text" class="form-control" placeholder="1">
                    <div class="size-buttons">
                        <a href="#" class="btn">Удвоить</a>
                        <a href="#" class="btn ml-auto">1/5</a>

                        <a href="#" class="btn">Минимум</a>
                        <a href="#" class="btn ml-auto">Макс</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="game-chance-block mx-auto">
                    <span>Шанс игры %</span>
                    <input type="text" class="form-control" placeholder="10">
                    <div class="chance-buttons">
                        <a href="#" class="btn">Удвоить</a>
                        <a href="#" class="btn ml-auto">1/5</a>

                        <a href="#" class="btn">Минимум</a>
                        <a href="#" class="btn ml-auto">Макс</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="game-side mx-auto">
                    <b>1.25 N</b>
                    <span>Возможный выигрыш</span>
                    <div class="buttons">
                        <div class="row">
                            <div class="col-lg-6">
                                <p>0 - 123456789</p>
                                <a href="#" class="btn">Меньше</a>
                            </div>
                            <div class="col-lg-6">
                                <p>0 - 123456789</p>
                                <a href="#" class="btn">Меньше</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hash text-center">
                    <h4 class="mx-auto text-center">Hash игры</h4>
                    <p class="hash-value">
                        ssgdv65x4v8s4c56cx4v8xc4v38v4cz8xc4v6asz8x4c3z8cx46z8xc46z8c46z84cz68c4z68c46z8c4z6x8c4z6c46z8c4z68c46z84c
                    </p>
                    <a href="#" class="whatis mx-auto">Что такое hash</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}