{% extends 'default/games.html.twig' %}

{% block game %}
    <div class="nvuti">
        <div class="col-md-12">
            <div class="row">
            <div class="col-lg-3">
                <div class="game-size-block mx-auto">
                    <span>Размер игры</span>
                    <input type="text" class="form-control nvuti-amount" value="1">
                    <div class="size-buttons">
                        <a href="#" class="btn">Удвоить</a>
                        <a href="#" class="btn ml-auto">1/5</a>

                        <a href="#" class="btn">Минимум</a>
                        <a href="#" class="btn ml-auto">Макс</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="game-chance-block mx-auto">
                    <span>Шанс игры %</span>
                    <input type="text" class="form-control nvuti-chance" value="95">
                    <div class="chance-buttons">
                        <a href="#" class="btn">Удвоить</a>
                        <a href="#" class="btn ml-auto">1/5</a>

                        <a href="#" class="btn">Минимум</a>
                        <a href="#" class="btn ml-auto">Макс</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="game-side mx-auto">
                    <b class="nvuti-win">1.05</b>N
                    <span>Возможный выигрыш</span>
                    <div class="buttons">
                        <div class="row">
                            <div class="col-lg-6">
                                <p class="nvuti-min">0 - 949999</p>
                                <a class="btn nvuti-btn" about="less">Меньше</a>
                            </div>
                            <div class="col-lg-6">
                                <p class="nvuti-max">49999 - 999999</p>
                                <a class="btn nvuti-btn" about="more">Больше</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="row">
            <div class="col-lg-12">
                <div class="hash text-center">
                    <h4 class="mx-auto text-center">Hash игры</h4>
                    <p class="hash-value">
                        {{ hash }}
                    </p>
                    <a href="#" class="whatis mx-auto">Что такое hash</a>
                </div>
            </div>
        </div>
            {% if app.user == null %}
            <div class="not-auth-placeholder not-auth-placeholder_backdrop d-flex" d>
                <div class="not-auth-placeholder__text">Авторизируйся, чтобы испытать удачу</div>
                <div class="not-auth-placeholder__buttons">
                    <button class="btn btn-primary btn-lg not-auth-placeholder__button" rv-on-click="view.login">
                        <span rv-translate="">Авторизоваться</span>
                    </button>
                    <div class="not-auth-placeholder__embed"></div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/nvuti.js') }}"></script>
{% endblock %}