<div class="notices-container notices-container--bottom-fixed hidden" id="register-banner" role="notice_container" style="display: block; bottom: 0px;">

        <div class="alert alert-info">
            <button type="button" class="close">&times;</button>
            <strong>Success!</strong> Indicates a successful or positive action 1.
        </div>

</div>